on init
    exec u:r:su:s0 root root -- /system/bin/ih8sn init
    exec u:r:sysinit:s0 root root -- /system/bin/ih8sn init

on property:sys.boot_completed=1
    exec u:r:su:s0 root root -- /system/bin/ih8sn boot_completed
    exec u:r:sysinit:s0 root root -- /system/bin/ih8sn boot_completed
