name: build

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Setup Android NDK
      run: |
        wget https://dl.google.com/android/repository/android-ndk-r23b-linux.zip
        unzip android-ndk-r23b-linux.zip
    - name: Build (AArch64)
      run: |
        ANDROID_NDK_HOME=./android-ndk-r23b CXX=aarch64-linux-android31-clang++ ./build.sh
        zip -r ih8sn-aarch64.zip 60-ih8sn.sh ih8sn ih8sn.conf ih8sn.rc push.ps1 push.sh
    - uses: actions/upload-artifact@v1
      with:
        name: ih8sn (AArch64)
        path: ih8sn-aarch64.zip
    - name: Build (ARMv7-A)
      run: |
        ANDROID_NDK_HOME=./android-ndk-r23b CXX=armv7a-linux-androideabi31-clang++ ./build.sh
        zip -r ih8sn-armv7a.zip 60-ih8sn.sh ih8sn ih8sn.conf ih8sn.rc push.ps1 push.sh
    - uses: actions/upload-artifact@v1
      with:
        name: ih8sn (ARMv7-A)
        path: ih8sn-armv7a.zip
    - name: Build (i686)
      run: |
        ANDROID_NDK_HOME=./android-ndk-r23b CXX=i686-linux-android31-clang++ ./build.sh
        zip -r ih8sn-i686.zip 60-ih8sn.sh ih8sn ih8sn.conf ih8sn.rc push.ps1 push.sh
    - uses: actions/upload-artifact@v1
      with:
        name: ih8sn (i686)
        path: ih8sn-i686.zip
    - name: Build (x86_64)
      run: |
        ANDROID_NDK_HOME=./android-ndk-r23b CXX=x86_64-linux-android31-clang++ ./build.sh
        zip -r ih8sn-x86_64.zip 60-ih8sn.sh ih8sn ih8sn.conf ih8sn.rc push.ps1 push.sh
    - uses: actions/upload-artifact@v1
      with:
        name: ih8sn (x86_64)
        path: ih8sn-x86_64.zip
    - uses: marvinpinto/action-automatic-releases@latest
      if: github.ref == 'refs/heads/master'
      with:
        repo_token: "${{ secrets.GITHUB_TOKEN }}"
        automatic_release_tag: "latest"
        prerelease: false
        title: "${{ env.GITHUB_SHA }}"
        files: |
          ih8sn-aarch64.zip
          ih8sn-armv7a.zip
          ih8sn-i686.zip
          ih8sn-x86_64.zip
